/* Mudanças no Bootstrap */
.accordion-body {
    padding-bottom: 0px;
}
.active.nav-link {
    border-color: darkred !important;
}

/* Meus estilos */
.my-accordion {
    background-color: darkred;
    border: 0px;
    color: white !important;
}
.my-accordion::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.my-accordion:focus {
    box-shadow: 0px 0px !important;
}
.my-accordion:not(.collapsed) {
    background-color: rgb(161, 0, 0);
}
.my-accordion:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.my-color {
    color: darkred;
}
.my-btn {
    color: white !important;
    background-color: darkred;
}
.my-btn:hover {
    background-color: rgb(237, 0, 0);
}
.my-navbar {
    position: fixed;
    top: 0;
    width: 100%;
}
.my-social-icon {
    text-decoration: none;
    transition-duration: 0.25s;
}
.my-social-icon:hover {
    color: rgb(237, 0, 0);
}