.active.nav-link {
    border-color: darkred !important;
}
.my-accordion {
    border: 0px;
}
.my-accordion:not(.collapsed) {
    background-color: rgb(161, 0, 0);
}
.my-color {
    color: darkred;
}
.my-btn {
    color: white !important;
    background-color: darkred;
}
.my-btn:hover {
    background-color: rgb(237, 0, 0);
}
.my-navbar {
    position: fixed;
    top: 0;
    width: 100%;
}
.my-social-icon {
    text-decoration: none;
    transition-duration: 0.25s;
}
.my-social-icon:hover {
    color: rgb(237, 0, 0);
}